html
  head
    title= title
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')


  body
    .container
      .row
        .col-md-6.col-md-offset-3
          nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                a.navbar-brand(href='#')
                  img(alt='Brand', src='...')
          br
          br        
          form
            .row
              .col-md-6
                .form-group
                  label(for='education-input') Education
                  select#education-input.form-control
                    option(value='', selected='', disabled='', hidden='') Choose education
                    option Politehnica
                    option Universitate
                    option Cibernetica
                    option Other technical
                    option Other
              .col-md-6    
                .form-group
                  label(for='job-level-input') Job Level
                  select#job-level-input.form-control
                    option(value='', selected='', disabled='', hidden='') Choose job level
                    option Novice
                    option Advance Beginner
                    option Competent
                    option Proficient
                    option Expert
            .row
              .col-md-6
                .form-group
                  label(for='age-input') Age
                  input#age-input.form-control(type='number')
              .col-md-6
                .form-group
                  label(for='companies-worked-input') Number of companies worked
                  input#companies-worked-input.form-control(type='number')
            .row
              .col-md-6
                .form-group
                  label(for='trainings-last-year-input') Trainings last year
                  input#trainings-last-year-input.form-control(type='number')
              .col-md-6        
                .form-group
                  label(for='years-company-input') Years at company
                  input#years-company-input.form-control(type='number')
            .row          
              .col-md-6        
                .form-group
                  label(for='years-since-last-promotion-input') Years since last promotion
                  input#years-since-last-promotion-input.form-control(type='number')
              .col-md-6
                .form-group
                  label(for='distance-from-home-input') Distance from home
                  input#distance-from-home-input.form-control(type='number')
            .row
              .col-md-6      
                .form-group
                  label(for='salary-input') Salary
                  input#salary-input.form-control(type='number')
              .col-md-6    
                .form-group
                  label(for='working-years-input') Total working years
                  input#working-years-input.form-control(type='number')      