input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#image {
    padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#image-container {
  width: 100%;
  text-align: center;
}

.custom-container {
	background-color: rgba(0, 0, 0, 0.8);
	padding:20px;
	color: white;
}

body {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}